/*============== Geral ======================*/
*{
margin: 0;
box-sizing: border-box;
}

:root{
    --primary-color: hsl(22, 100%, 50%);
    --headline:hsl(223, 100%, 21%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-beige:  hsl(39, 100%, 97%);
    --brand-light: hsl(152, 23%, 89%);

    --nav-height:7.2rem;


    
    font-size: 62.5%; /* 1Rem=10px  */

}

body {

    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    background-color:var(--brand-light) ;
    

   
}




/*=============== Header sobre ========================================*/
#sobreId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

}
/*=============== Header-exercicio ========================================*/
#exercicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:15rem;
    margin-top: 0;
}
body .agachamento,.abdominal,.triceps,.flexao,.barras-paralelas{
    background-color: #fff;
    padding-inline: 4rem;
    border-radius: 2rem;
}
#exercicios{
    border-radius: 2rem;
    background-color: #fff;
}

/*=============== Header ========================================*/
header{
    
    margin-top: calc(4.1rem + var(--nav-height));
    
}
header h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

header h1{
    font-size: 3.4rem;
    color: var(--secondary-color);
    line-height:130%;
    margin-bottom: 2.4rem;

}

header p{
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
    display: flex;
}

header button{
    background: var(--primary-color);
    border: none;
    border-radius: 4rem;
    
    margin-bottom: 6rem;
    margin-right: auto;
    margin-left: auto;
   
    height: 6.2rem;
    width: 26.3rem;
    
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
   
    
}

header img{
    width: 30rem;
    
    margin-right: auto;
    margin-left: auto;
    
    display:block;
    margin-bottom: 3.2rem;
    object-position: 0 1rem;
}

#iniial-text {
    margin: 10rem;
    background-color: #fff;
    border-radius: 2rem;
    padding-inline: 5rem;
}
body p{
font-size: 2.3rem;
}

.infos{
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;

    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 6rem;
    margin-bottom: 5rem;
}

.info h3{
    font-size: 2.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom:0.4rem;
}

.info p {
    margin: 0rem;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 150%;
}

/*=============== Nav ========================================*/
nav {
    display: flex;       
    justify-content: space-evenly;
    align-items: center;


    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 80%;
    margin-inline: auto;
    padding-inline: 2.4rem;
}
nav.scroll {
    background: var(--primary-color);
    width: 100vw;
}
.logo {
    width: 10rem;
}
nav.scroll svg path {
    fill: hsl(223, 100%, 21%);
    stroke: hsl(223, 100%, 21%);
}
#nav-ul{
   padding-block: auto;
}
#nav-ul li a{
    text-decoration: none;
}
nav.scroll ul li {
    margin: 0 1rem;
    list-style: none;

}
.menu li a{
    color:#333; text-decoration:none; padding:5px 10px; display:flex;
}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}
.hamburger{
    background-color: transparent;
    border: 0;
    cursor: pointer;

}
.hamburger:focus {
    outline: none;
}


/*================= media-querry ==================*/
@media only screen and (max-width: 76.7rem) {
    nav.scroll ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    #nav-ul.show {
        display: flex;        
        
    }
    .hamburger {
        display: block;
    }

   
}
@media screen and (min-width: 76.8rem) {
    :root{
        font-size: 80%;
    }
    
    .hamburger {
        display: none;
    }
    nav.scroll ul {
        display: flex;

    }

    .infos{
        width: 80%;
        padding-block: 4rem;
        margin-inline: auto;
    
        background-color: var(--brand-beige);
        border: 1px solid var(--brand-light);
    
        display: flex;
        flex-direction: row
    
        gap: 6rem;
    }
}


